  <div class="col-md-10">
  <ul>
    <li><a href="/#/eurocorp/customers/{{customer.owner_id.id}}/jobs?status=quotes">QUOTES</a></li>
    <li><a href="/#/eurocorp/customers/{{customer.owner_id.id}}/jobs?status=in-progress">IN PROGRESS</a></li>
    <li><a href="/#/eurocorp/customers/{{customer.owner_id.id}}/jobs?status=completed">COMPLETED</a></li>
  </ul>
  <h1>{{customer.customer_name}}</h1>
  </div>

  <div class="col-md-10">
    <ul>
      <li ng-repeat="job in jobs">
        <div>
          <span><a href="/#/eurocorp/jobs/{{job.id}}/schedules">{{job.job_name}}</a></span><br>
          <span>{{job.invoice_id}}</span><br>
          <span ng-repeat="addr_component in job.site_address">{{addr_component}}, </span><br>
          <span>Due Date</span><br>
          <span>{{jobInfo[job.id].importantDate.date.dued_date | date:'MMM dd'}}<span>
        </div>
      </li>
    </ul>
  </div>
