  <div class="col-md-10">
    <div>
    <span>Schedule name: {{schedule.id}}</span><br>
    <span>Job name: {{job.job_name}}</span><br>
    Address:<br> <span ng-repeat="addr_component in schedule.job.site_address">{{addr_component}},<br></span>
    <span>Order {{schedule.job.invoice_id}}</span><br>
    </div>

    <div>
      <span>{{representative.name}}</span>
      <span>{{representative.role}}</span>
      <span>{{representative.phone}}</span>
    </div>

    <div>
      <span>{{detailer.name}}</span>
      <span>{{detailer.role}}</span>
      <span>{{detailer.phone}}</span>
    </div>

    <div>
      <span>{{despatcher.name}}</span>
      <span>{{despatcher.role}}</span>
      <span>{{despatcher.phone}}</span>
    </div>

    <ul>
      <li ng-repeat="sheet in schedule.sheets">
        <div>
          <span>
            <a href="/#/eurocorp/sheets/{{sheet.id}}">
            <span ng-if="sheet.sheet_name == ''">--</span>
            <span ng-if="sheet.sheet_name != ''">{{sheet.sheet_name}}</span>
            </a></span>
          <span>Due Date</span><br>
          <span>{{sheetInfo[sheet.id].importantDate.date.dued_date | date:'MMM dd'}}<span>
        </div>
      </li>
    </ul>
  </div>
