  <div class="col-md-2">
    <p>Nothing here {{'yet' + '!'}}</p>
  </div>

  <div class="col-md-10">
    <input type="text" ng-model="yourName" placeholder="Enter a name here">

    <h1>Hello {{yourName}}!</h1>

    <h2>Job list</h2>

    <select ng-model="orderOptions">
      <option value="id">Job ID</option>
      <option value="name">Job name</option>
    </select>

    <input ng-model="searchJob">
    <ol>
      <li ng-repeat="job in jobs | filter:searchJob | orderBy:orderOptions">
        <label>ID: {{job.id}}</label>&nbsp;-&nbsp;
        <a href="#/job/{{job.id}}"><span style="color:#aa77ff">{{job.name}}</span></a>
      </li>
    </ol>
    <p>Total number of jobs: {{jobs.length}}</p>
    </div>
